.header {
	background: url("../images/image-hero-mobile.jpg") no-repeat center center;
	background-size: cover;
	height: 300px;
	width: 100%;
	padding: 3rem 0;
	position: relative;
	background-color: rgba(0, 0, 0, 0.4);
	background-blend-mode: multiply;

	&__logo {
		display: inline-block;
		max-height: 20px;
	}

	&__content {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		width: 80%;
		margin: 0 auto;
	}
}

.container {
	max-width: 90%;
}

.section {
	background-color: #fff;
	border-radius: $border-radius--small;
	padding: 4rem 3rem;
	border: 1px solid $borderColor;
	margin: 20px 0;
	display: flex;
	flex-direction: column;
	width: 100%;

	&__head {
		margin-top: -60px;
		position: relative;
	}

	&__hero {
		margin: 0 auto;
		text-align: center;
	}

	&__element:not(:last-of-type) {
		border-bottom: 2px solid $lightGrey;
		padding-bottom: 2rem;
	}

	&__element:not(:first-of-type) {
		padding-top: 2rem;
	}

	&--center-aligned {
		align-items: center;
		text-align: center;
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100vw;
	min-height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 500;
	display: none;

	&--show {
		display: block;
	}
}

.highlighted-text {
	color: $lightCyan;
}

.button {
	background-color: $lightCyan;
	color: #fff;
	padding: 18px 30px;
	border-radius: $border-radius--large;
	border: 0;
	font-size: 1.5rem;
	width: max-content;
	margin-top: 2rem;

	&:hover {
		background-color: $darkCyan;
	}

	&--disabled {
		background-color: $darkGrey;
	}

	&--narrow {
		margin: 0;
		padding: 10px 20px;
	}
}

.button-cluster {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: 2rem;
}

.progress-bar-outer,
.progress-bar-inner {
	border-radius: $border-radius--small;
	height: 1rem;
	max-width: 100%;
}

.progress-bar-outer {
	width: 100%;
	background-color: $lightGrey;
	margin-top: 3rem;
	height: 1.5rem;
}
.progress-bar-inner {
	height: 1.5rem;
	width: 0%;
	background-color: $lightCyan;
}

.brand-logo {
	margin-bottom: 2rem;
	margin-top: -6rem;
}

@include tablet-up {
	.header {
		background-image: url("../images/image-hero-desktop.jpg");
		height: 350px;
		width: 100%;
	}

	.container {
		max-width: 700px;
	}

	button {
		margin-top: 0;
	}

	.section {
		&__hero {
			margin: 0;
			display: flex;
			flex-direction: row;
			text-align: left;
			align-items: center;
		}

		&__element {
			flex-basis: 33%;
		}

		&__element:not(:last-of-type) {
			padding: 0;
			border-bottom: none;
		}

		&__element:not(:first-of-type) {
			border-left: 2px solid $lightGrey;
			padding: 0;
			padding-left: 60px;
		}
	}
}
