/* MODAL */
.modal {
	&__wrapper {
		display: none;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		z-index: 500;
	}

	&__wrapper--show {
		display: block;
	}

	&__header {
		padding-bottom: 2rem;
		position: relative;
	}

	&__close-icon {
		cursor: pointer;
		height: 18px;
		position: absolute;
		top: 0;
		right: 0;
		width: 18px;
	}

	&__pledge-section {
		background-color: #fff;
		margin: 0 auto;
		border-radius: $border-radius--small;
		position: absolute;
		top: 10%;
		left: 50%;
		transform: translateX(-50%);
	}

	&__pledge-section--hide {
		display: none;
	}

	&__thanks {
		margin: auto;
		display: none;
		position: absolute;
		top: 50vh;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__thanks--open {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	&__check {
		height: 70px;
		width: 70px;

		& img {
			width: 100%;
			height: 100%;
		}
	}

	&__thanks-heading {
		font-size: 2.5rem;
		font-weight: 700;
		padding: 2rem 0;
	}
}

.modal-pledge-card {
	&__container {
		padding: 30px 20px;
		display: grid;
		grid-template-columns: 40px 1fr auto;
		grid-template-areas:
			"modal-select modal-select pledge-price"
			". pledge-paragraph pledge-paragraph"
			"pledge-entry pledge-entry pledge-entry";
		grid-template-rows: auto;
	}

	&__select {
		position: relative;
		display: flex;
		align-items: center;
		grid-area: modal-select;
	}

	&__check {
		display: block;
		position: absolute;
		border: 2px solid $darkGrey;
		border-radius: 100%;
		height: 26px;
		width: 26px;
		left: 0;
		z-index: 5;
		transition: border 0.25s linear;
		-webkit-transition: border 0.25s linear;

		&::before {
			display: block;
			position: absolute;
			content: "";
			border-radius: 100%;
			height: 12px;
			width: 12px;
			top: 5px;
			left: 5px;
			margin: auto;
			transition: background 0.25s linear;
			-webkit-transition: background 0.25s linear;
		}
	}

	& input[type="radio"] {
		position: absolute;
		visibility: hidden;

		&:checked ~ {
			.modal-pledge-card__check::before {
				background: $lightCyan;
			}

			.modal-pledge-card__check {
				border-color: $lightCyan;
			}

			label h3 {
				color: $lightCyan;
			}
		}
	}

	&__select-label {
		position: relative;
		padding-left: 4.5rem;
		cursor: pointer;

		&:hover {
			.modal-pledge-card__check {
				border-color: $lightCyan;
			}

			h3 {
				color: $lightCyan;
			}
		}
	}

	&--open {
		border: 2px solid $lightCyan;
	}
}

.modal-pledge-card__select label h3:last-child {
	margin: 0;
}

/* MODAL PLEDGE ENTRY SECTION */
.modal-pledge-card-entry {
	align-items: center;
	display: flex;
	flex-direction: column;
	grid-area: pledge-entry;
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.2s ease-in, padding-top 0.2s ease-in,
		padding-bottom 0.2s ease-in;

	&:focus-within {
		border-top: 1px solid $darkGrey;
		max-height: 150px;
		padding: $card-padding;
	}

	&--open {
		border-top: 1px solid $darkGrey;
		max-height: 150px;
		padding: $card-padding;
	}

	&__input-cluster {
		display: flex;
	}

	&__input {
		display: flex;
		align-items: center;
		width: 100px;
		text-align: left;
		border-radius: $border-radius--large;
		border-color: $lightGrey;
		border-style: solid;
		color: #000;
		padding: 10px 20px;
		margin-right: 20px;
	}

	&__input-label {
		color: $darkGrey;
	}

	& input[type="number"] {
		border: none;
		width: 100%;
		caret-color: $lightCyan;
		-moz-appearance: textfield;
		font-size: 1.6rem;
		font-weight: 700;
		color: #000;
		padding-top: 3px;
		margin-left: 0.5rem;
	}

	& input::-webkit-outer-spin-button,
	& input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

@include tablet-up {
	.modal-pledge-card-entry {
		flex-direction: row;
		justify-content: space-between;
	}

	.modal-pledge-card {
		& label {
			display: flex;
			align-items: center;
		}

		& h3 {
			margin-bottom: 0;
			margin-right: 10px;
		}
	}
}
