$background: #fafafa;
$lightGrey: #f4f4f4;
$darkGrey: #7a7a7a;
$borderColor: #eceaea;
$darkCyan: #147b74;
$lightCyan: #3a9e97;
$border-radius--small: 1rem;
$border-radius--large: 3rem;
$card-padding: 3rem 2rem;
