$background: #fafafa;
$lightGrey: #f4f4f4;
$darkGrey: #b1b1b1;
$borderColor: #eceaea;
$darkCyan: #147b74;
$lightCyan: #3cb4ac;
$border-radius--small: 1rem;
$border-radius--large: 3rem;
$card-padding: 3rem 2rem;
